package*.json @WFCD/node-libraries
index.d.ts @TobiTenno
index.js @TobiTenno
build/* @TobiTenno
config/* @TobiTenno
data/json/* @WFCD/node-libraries
data/img/* @TobiTenno
test/* @WFCD/node-libraries
.github/workflows/* @TobiTenno
.github/* @WFCD/node-libraries
* @WFCD/node-libraries
