name: Build
on:
  schedule:
    - cron: "55 */1 * * *"
  push:
    branches:
      - master
    paths:
      - 'build/*.js'
      - 'config/*.json'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.GH_TOKEN }}
    - uses: leafo/gh-actions-lua@v8.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm i -D warframe-patchlogs@latest
    - if: ${{ github.event_name == 'schedule' }}
      run: npm run build
    - if: ${{ github.event_name != 'schedule' }}
      run: npm run build -- --force
    - run: sh .github/workflows/regression.sh
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        skip_dirty_check: false
        commit_message: 'fix(items): new items'
        commit_user_name: wfcd-bot-boi
        commit_user_email: botboi@warframestat.us
        commit_author: wfcd-bot-boi <botboi@warframestat.us>
