name: Build
on:
  schedule:
    - cron: "55 * * * *"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.GH_TOKEN }}
    - uses: leafo/gh-actions-lua@v8.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm i -D warframe-patchlogs@latest
    - run: npm run build
    - run: |
        chmod +x .github/workflows/regression.sh
        sh .github/workflows/regression.sh
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        skip_dirty_check: false
        commit_message: 'fix(items): new items'
        commit_user_name: wfcd-bot-boi
        commit_user_email: botboi@warframestat.us
        commit_author: wfcd-bot-boi <botboi@warframestat.us>
