name: Build
on:
  schedule:
    - cron: "55 */3 * * *"
  push:
    branches:
      - master
    paths:
      - 'build/*.js'
      - 'config/*.json'
      - 'index.m?js'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.GH_TOKEN }}
    - uses: leafo/gh-actions-lua@v8.0.0
    - uses: actions/setup-node@v3
      with:
        node-version-file: '.nvmrc'
    - run: npm install
    - run: npm i -D warframe-patchlogs@latest
    - if: ${{ github.event_name == 'schedule' }}
      run: npm run build
      env:
        NODE_OPTIONS: '--max_old_space_size=2048'
        SOCKS5_USER: ${{ secrets.SOCKS5_USER }}
        SOCKS5_PASS: ${{ secrets.SOCKS5_PASS }}
        SOCKS5_HOST: ${{ secrets.SOCKS5_HOST }}
        SOCKS5_PORT: ${{ secrets.SOCKS5_PORT }}
    - if: ${{ github.event_name != 'schedule' }}
      run: npm run build -- --force
    - run: sh .github/workflows/regression.sh
    - uses: stefanzweifel/git-auto-commit-action@v4
      env:
        NODE_OPTIONS: '--max_old_space_size=4096'
      with:
        skip_dirty_check: false
        commit_message: 'fix(items): new items'
        commit_user_name: wfcd-bot-boi
        commit_user_email: botboi@warframestat.us
        commit_author: wfcd-bot-boi <botboi@warframestat.us>
