name: Regression
on:
  schedule:
    - cron: '0 */12 * * *'
  push:
    branches:
      - master
jobs:
  regressions:
    name: Regression Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install Dependencies
        run: npm i
      - name: Run Regression
        run: npm run regression
