name: Release
on:
  push:
    branches:
      - master
    paths:
      - 'build/**'
      - 'data/**'
      - 'index.m?js'
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: leafo/gh-actions-lua@v10.0.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - run: npm ci
      - run: npm run lint
      - run: npm test
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          semantic_version: 17
          branches: |
            ['master']
